/*  css重置  */
*{
    margin: 0px ;
    padding: 0px ;
}
a {
    text-decoration:none ;
}
img{
    border: 0px  ;
}
li {
    list-style: none;
}
/*  css重置  */

.wrapper{
    width: 1140px;
    /*background: #cccccc;*/
    height: 100%;
    margin: 0 auto ;
}