#header {
    background: url(../img/8.jpg) no-repeat  center center ;
    height: 600px;
}
/* new-product开始 */
#new-product {
    margin-top: 30px;
    height: 290px;
}
#new-product  .sale {
    /*position: relative;*/
    width: 365px;
    background-repeat:  no-repeat ;
    height: 260px;
    float: left;
    margin-right:15px ;
    font-size:30px ;
}
#new-product  .bg1 {
    background-image: url("../img/bg1.jpg ");
}#new-product  .bg2 {
    background-image: url("../img/bg2.jpg ");
}#new-product  .bg3 {
    background-image: url("../img/bg3.jpg ");
    margin-right: 0px;
}
#new-product  .sale  h4 {
    /*position: absolute;*/
    /*right: 50px;*/
    /*bottom: 20px;*/
    margin-top: 190px;
    margin-left: 200px;

}

/*new-product结束*/

/* product开始 */
#product {
    height: 1000px;
}
.product-info {
    border: 1px  solid #cccccc;
    width: 340px;
    height: 440px;
    float: left;
    margin-left:20px ;
    margin-top: 20px;
}
.product-info img{
    width: 248px;
    height: 248px;
    border: 1px  solid  #ff0000;
    vertical-align: bottom;
}
.product-info .new {
    background: #fa558f;
    color: white;
    float: right;
}
.product-detail{
    /*margin-left:10px;*/
    background: #cccccc;
    height: 170px;
    width: 330px;
    padding-left: 10px ;
    padding-top: 20px;
}
.product-detail h3{
    ;
    /*margin-top: 10px;*/

}
.add{
    width: 150px;
    height: 50px;
    background: orange;
    color: white;
    /*border: 0px ;*/
    margin-top: 5px;
    font-size: 18px;
}
.product-detail input {
    width: 150px;
    height: 30px;
    text-indent: 10px ;
}
/* product结束 */

/* problem开始 */
#problem {
    height: 1080px;
    background: url("../img/problem.jpg    ")   ;
}
#problem .wrapper {
    width: 1000px;
    /*background: #cccccc ;*/

}
#problem  .problem-menu{
    padding-left: 40px;
    float: left;
    margin-right: 40px;
    margin-top: 100px;
}

#problem  .problem-menu li {
    list-style: disc  ;
    color: palevioletred;

}
.problem-menu  li a {
color: white;
}
.problem-menu  li a:hover {
    text-decoration: underline ;
}
.menu-bold{
    font-weight:bolder ;
}
/* problem结束 */
/* footer开始 */
#footer {
    height: 82px;
    background: #fa558f;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: white;
}
#footer  h4{
    float: right;
}
#footer  h3{
    float: left;
}
/*footer结束*/
/*#liu {*/
    /*position: fixed;*/
    /*background: #00ff00  ;*/
    /*width: 100px;*/
    /*height: 50px;*/
    /*margin-left: 500px;*/
    /*margin-top: 200px;*/
    /*color: red; */
    /*line-height:50px ;*/

