#header {
    height: 350px;
}
/*#good {*/
    /*width: 1920px;}*/
#brand {
    margin-top: 30px;
    /*float: left; */
}

#brand a {
    float: left;
    width: 116px;
    height: 99px;
    margin-right: 23px;
    margin-bottom: 10px;
}
#brand  img{
    /*float: left;*/
}

#product {
    height: 1000px;
}
.product-info {
    border: 1px  solid #cccccc;
    width: 340px;
    height: 440px;
    float: left;
    margin-left:20px ;
    margin-top: 20px;
}
.product-info img{
    width: 248px;
    height: 248px;
    border: 1px  solid  #ff0000;
    vertical-align: bottom;
}
.product-info .new {
    background: #fa558f;
    color: white;
    float: right;
}
.product-detail{
    /*margin-left:10px;*/
    background: #cccccc;
    height: 170px;
    width: 330px;
    padding-left: 10px ;
    padding-top: 20px;
}
.product-detail h3{
;
    /*margin-top: 10px;*/

}
#good{
    height: 1200px;
}
.add{
    width: 150px;
    height: 50px;
    background: orange;
    color: white;
    /*border: 0px ;*/
    margin-top: 5px;
    font-size: 18px;
}
.product-detail input {
    width: 150px;
    height: 30px;
    text-indent: 10px ;
}
/* footer开始 */
#footer {
    height: 82px;
    background: #fa558f;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: white;
}
#footer  h4{
    float: right;
}
#footer  h3{
    float: left;
}
/*footer结束*/
